.cover{
  background-image:url(./images/cover.png);
  background-repeat:no-repeat;
  background-size: cover;

}



.web_bg{
 border-radius: 50%;
}
/* .wev{
  margin-left: 40px;
  margin-top: 40px;
  
} */

/* .team{
  margin-right: 50px;
} */
.top{
  margin-top: 100px;
}
.ano-top{
  margin-top: 200px;
}
.btn-hv:hover{
  color: white !important;
}